header{
  height: 500px;
  background-color: rgb(253, 200, 203);
}
main{
  background-color: rgb(195, 195, 255) ;
}
img{
  margin-top: 100px;
  margin-left: 50px;
}
header h1{
  font-size: 70px;
  float: right;
  margin-top: 200px;
  margin-right: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header a{
  text-align: right;
}
fieldset{
  border: 2px solid black;
}
legend{
  text-align: center;
}
table, th, td{
  margin-top: 20pxs;
  border: 1px solid black;
}
